<div class="form-control">
  <form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="count" name="count"> 
    <button type="submit">Add markers</button>
    <button type="button" (click)="clear()">Clear</button>
  </form>
</div>
<app-map #mapCmp></app-map>
<router-outlet></router-outlet>