/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.my-div-icon {
  width: 50px;
  height: 50px;
}

/* .my-div-icon .circle {
  fill: blue;
  stroke: red;
  stroke-width: 40;
}

.my-div-icon .footer {
  stroke:red;
  stroke-width: 20;
} */